.container{
    margin-bottom: 24px;
}

.textarea{
    margin-top: 10px;
    border-radius: 4px;
    height: 346px;
    width: 800px;
    border: 1px solid #79747e;
    padding: 16px 20px;
}

.textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #a4a1aa;
  }

.inputTitle{
    margin-bottom: 24px !important;
}

.category{
    margin-top: 10px;
    margin-bottom: 24px;
}