.reservationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
}

.iconWrapper {
  position: absolute;
  top: 3px;
  left: 16px;
  font-size: 8px;
}

.faCircle {
  width: 6px;
  height: 6px;
}

.pending {
  display: flex;
  text-align: left;
  background-color: var(--blue);
  border-radius: 4px;
  padding: 3px 4px;
  margin: 3px auto;
  color: var(--white);
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

.confirmed {
  display: flex;
  text-align: left;
  background-color: var(--light-orange);
  border-radius: 4px;
  padding: 3px 4px;
  margin: 3px auto;
  color: var(--orange);
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

.completed {
  text-align: left;
  background-color: var(--light-gray);
  border-radius: 4px;
  padding: 3px 4px;
  margin: 3px auto;
  color: var(--gray);
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

@media (max-width: 768px) {
.pending {
  min-width: 72px;
  width: auto;
  max-width: 80%;
}

.confirmed {
  min-width: 72px;
  width: auto;
  max-width: 100%;
}

.completed {
  min-width: 72px;
  width: auto;
  max-width: 100%;
}
}

@media (max-width: 375px) {
  .pending {
    font-size: 12px;
    min-width: 45px;
    width: auto;
    max-width: 100%;
  }
  
  .confirmed {
    font-size: 12px;
    min-width: 45px;
    width: auto;
    max-width: 100%;
  }
  
  .completed {    
    font-size: 12px;
    min-width: 45px;
    width: auto;
    max-width: 100%;
  }
}
