
.container{
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
  gap: 5px;

  @media (max-width: 375px) { 
    padding: 0 16px; 
    gap: 4px;
  }
}

.prevGroup {
  background-image: url("/images/pagination_prev_arrow.png");
}
.nextGroup {
  background-image: url("/images/pagination_arrow.png");
}
.prevGroup,
.nextGroup {
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 7px 12px;
  width: 55px;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--green);
  border-radius: 15px;

  @media (max-width: 640px) {
    max-width: 50px;
  }
  @media (max-width: 450px) {
    max-width: 40px;
    background-size: 5px 9px;
  }
}

.pagebutton,
.pagebuttonactive {
  font-size: 18px;
  font-weight: 400;
  width: 55px;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--green);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 640px) {
    max-width: 50px;
  }
  @media (max-width: 450px) {
    max-width: 40px;
  }
}
.pagebutton {
  color: var(--green);
  background-color: var(--white);
}
.pagebuttonactive {
  color: var(--white);
  background-color: var(--green);
}
