.container{
    display:flex;
    flex-direction: column;
}

.subTitles{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.subTitles p{
    font-size: 20px;
}

.subTitle{
    margin-right:364px;
}

.startTime{
    margin-right: 111px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
}

.inputWrapper{
    display: flex;
    
    margin-bottom: 12px;
}

.divider{
    height: 1px;
    background-color: #dddddd;
    margin: 12px 0;
   
    width: 800px;
}

.dateInput{
    width: 379px !important;

}

.customTime{
    width: 140px;
}

.customButton{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customButtonMinus{
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
    border: 1px solid #dddddd !important;
}

.minus{
    color: gray;
    
}
.containerAdded{
    display: flex;
    gap: 20px;
    margin-bottom: 12px;
    margin-top: 12px;
    flex-direction: column;
}

.inputWrapperAdded{
    display:flex;
    

}
   

.dateInputAdded{
    
    width: 379px !important;
    margin-right: 20px !important;

}

.customTimeAdded{
    width: 140px;
    
}