.container{
    margin-bottom: 24px;
}

.title{
    font-size: 24px;
    font-weight: 700;
    color: #1b1b1b;
    margin-bottom: 24px;
}

.inputWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }
  


.custombutton{
    width: 140px;
    height: 56px;
    display:flex !important;
    text-align: center;
    align-items:center;
    justify-content:center;
}