.head{
    -webkit-display:flex;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:24px;

    .title{
        font-size:32px;
        font-weight:700
    }
}

.reservationBox{
    -webkit-dispaly:flex;
    display:flex;
    margin-bottom:24px;
    border-radius:24px;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow:0px 4px 16px 0 rgba(17, 34, 17, 0.05);
    background:var(--white);

    &:last-child{
        margin-bottom:0;
    }

    .thumbnail{
        position:relative;
        flex:1;
        max-width:204px;
        min-width:128px;

        &:after{
            content:"";
            display:block;
            padding-bottom:100%
        }
    }
    
    .detail{
        padding:21px 24px;
        box-sizing:border-box;
        flex:2;
        -webkit-display:flex;
        display:flex;
        -webkit-flex-direction:column;
        flex-direction:column;
        justify-content: space-between;

        .status{
            margin-bottom:8px;
            font-weight:700;
            font-size:16px;
            color:var(--gray)
        }
        /* 예약완료 */
        .status.completed{
            color:var(--light-blue)
        }
        /* 예약거절 */
        .status.declined{
            color:var(--red)
        }
        /* 예약승인 */
        .status.confirmation{
            color:var(--orange)
        }
    }

    .info{
        .title{
            margin-bottom:12px;
            font-size:20px;
            font-weight:700
        }
        
        .plan{
            font-size:18px;
            font-weight:400;

            .circle{
                margin:0 5px;
            }
        }
    }

    .bottom{
        -webkit-display:flex;
        display:flex;
        align-items: center;
        justify-content: space-between;

        .price{
            font-size:24px;
            font-weight:500;
        }
    }
}

