.container{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}



.postTitle{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #000000;
    
    }
    
    
    
    .custombutton{
        width: 120px;
        height: 48px;
        display:flex !important;
        text-align: center;
        align-items:center;
        justify-content:center;
    }