.inputWrapper {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
  }
  
.priceTitle{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}

.priceInput {
    padding-left: 24px; /* 여백 확보 (₩과 안 겹치게) */ 
  }