.categoryContainer {
  max-width: 1200px;
  margin: 0 auto; 
  display: flex;
  position: relative;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px; 
  } 
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}

.category {
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  position: relative;
}
.category::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.category .item {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  width: 130px;
  display: inline-block;
  border: 1px solid var(--green);
  border-radius: 15px;
  padding: 11px 14px 8px 15px;
  margin-right: 10px;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 20px;
    width: 110px;
    margin-right: 8px;
  }
  @media (max-width: 450px) {
    font-size: 12px;
    width: 90px;
    padding: 9px 9px 6px 12px;
    margin-right: 4px;
  }
}
.category .selected {
  background-color: var(--green);
  color: var(--white);
}
.category .deselected {
  background-color: var(--white);
  color: var(--green);
}