.imgContainer {
  position: relative;
  width: 100%;
  height: 550px; 
  background-image: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url('/images/landingpage_img.svg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 450px) {
    height: 240px;
  }
}

/* 이미지영역 텍스트 */
.textContainer {
  font-weight: 700;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px;
  } 
  @media (max-width: 768px) {
    gap: 8px; 
  }
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}

.text1 {
  font-size: 68px;
  
  @media (max-width: 768px) {
    font-size: 54px;
  }
  @media (max-width: 450px) { 
    font-size: 24px;
  }
}
.text2 {
  font-size: 24px;

  @media (max-width: 768px) {
    font-size: 20px;
  }
  @media (max-width: 450px) { 
    font-size: 14px;
  }
}

.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto 20px;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px;
  } 
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 450px) {
    font-size: 20px;
    margin: 15px auto 10px;
  }
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}
.title span {
  font-weight: 400;
}

/* 검색 결과 */
.searchResult {
  margin-top: 110px;
  
  @media (max-width: 550px) {
    margin-top: 90px;
  }
}
.resultCount {
  color: var(--black);
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px;
  } 
  @media (max-width: 450px) {
    margin: 15px auto 10px;
  }
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}