.container {
  max-width: 1200px;
  margin: 30px auto 60px;
  text-align: left;
  position: relative;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px; 
  } 
  @media (max-width: 450px) {
    margin: 20px auto 40px;
  }
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}

/* 인기 체험 + 버튼을 같은 줄에 정렬 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 0;

  @media (max-width: 450px) {
    margin-bottom: 10px;
  }
}

.controls {
  display: flex;
  gap: 8px;
  margin-right: 10px;
  
  @media (max-width: 450px) {
    gap: 4px;
    margin-right: 0;
  }
}
.prevButton, 
.nextButton {
  color: var(--gray-dark);
  margin-top: 4px;
  position: static;
  cursor: pointer;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;

  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (max-width: 450px) {
    font-size: 20px;
  }
}

/* 인기 체험 목록 */
.carousel {
  display: flex;
  gap: 24px;
  justify-content: flex-start;
  overflow: hidden;
  scroll-behavior: smooth;

  @media (max-width: 768px) {
    gap: 18px;
  }
  @media (max-width: 450px) {
    gap: 0;
  }
}

.card {
  position: relative;
  border-radius: 20px;
  max-width: 384px;
  height: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: transform 0.3s ease;

  @media (max-width: 450px) {
    width: 100%;
    height: 240px;
  }
}

.activityImage {
  position: relative;
  width: 384px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 20px;

  @media (max-width: 450px) {
    width: 100%;
    height: 240px;
  }
}
.info {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: var(--white);
  padding: 30px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

 /* 평점 */
.activitiesRating {
  display: flex;
  align-items: center;
  gap: 5px;
}
.activitiesRating p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
}

.info h3 {
  font-size: 32px;
  font-weight: 700;
  max-width: 245px;
  
  @media (max-width: 1024px) {
    font-size: 24px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 622px) {
    font-size: 24px;
  }
  @media (max-width: 480px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.price {
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 920px) {
    font-size: 18px;
  }
  @media (max-width: 480px) {
    font-size: 16px;
  }
}
.price span {
  color: var(--gray-light);
  font-size: 14px;
  font-weight: 400;
}
