
.container {
  position: absolute; 
  bottom: -80px;
  width: 100%;
  max-width: 1200px;

  @media (max-width: 1248px) { 
    max-width: auto; 
    padding: 0 24px;
  } 
  @media (max-width: 550px) {
    bottom: -60px;
  }
  @media (max-width: 375px) { 
    padding: 0 16px; 
  }
}

/* 검색 영역 */
.searchContainer {
  background-color: var(--white);
  width: 100%;
  padding: 32px 24px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 550px) {
    padding: 16px 24px;
    gap: 14px;
  }
  @media (max-width: 375px) { 
    padding: 16px; 
  }
}
.searchContainer h1 {
  color: var(--nomad-dark);
  font-size: 20px;
  font-weight: 700;

  @media (max-width: 550px) {
    font-size: 16px;
    font-weight: 700;
  }
}

/* 검색값 입력 필드 */
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  
  @media (max-width: 450px) {
    gap: 8px;
  }
}

.searchInput {
  flex: 1;
  color: var(--gray-dark);
  font-size: 16px;
  font-weight: 400;
  padding: 14px 16px 8px;
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  outline: none;
  background: transparent;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;

  @media (max-width: 550px) {
    font-size: 14px;
  }
}
.searchInput:hover {
  box-shadow: 0px 4px 8px rgba(17, 20, 18, 0.09);
}
.searchInput:focus {
  border-color: var(--gray-dark);
}
/* 기존 placeholder 숨김 */
.searchInput::placeholder {
  color: transparent;
}

/* 플로팅 라벨 */
.placeholder {
  position: absolute;
  left: 16px;
  top: 50%;
  color: var(--gray-soft);
  font-size: 16px;
  font-weight: 400;
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
  pointer-events: none;

  @media (max-width: 550px) {
    left: 10px;
    font-size: 14px;
  }
}
/* input에 포커스 또는 값이 있을 때 위로 이동 */
.inputContainer.focused .placeholder,
.searchInput:not(:placeholder-shown) + .placeholder {
  background-color: var(--white);
  font-size: 12px;
  padding: 0 8px;
  top: 2px;
}

/* 검색 버튼 */
.searchBtn {
  min-width: 70px;
  height: 43.5px;
  padding: 8px 38px 6px;
  
  @media (max-width: 660px) {
    padding: 8px 20px 6px;
  }
  @media (max-width: 550px) {
    font-size: 14px;
    font-weight: 500;
    height: 40.5px;
    padding: 8px 5px 6px;
  }
}
