.listcardcontainer{
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
 
}

.container{
display: flex;
width: 800px;
height: 204px;
border-radius: 14px;
background-color: var(--white);
margin-bottom: 14px;
margin-top: 10px;
box-shadow: 0px 4px 16px 0 rgba(17, 34, 17, 0.05);
}

.bannerImg{
width: 204px;
height: 204px;
}

.info{
display: flex;
flex-direction: column;
gap: 80px;
width: 594px;
margin: 24px 24px;
}
.upperInfo{
display: flex;
flex-direction: column;

}

.reviews{
display: flex;
gap: 5px;
}

.rating {
font-size: 16px;
}

.reviewCount{
font-size: 16px;
}
.title{
width: 491px;
height: 32px;
font-family: 'Pretendard';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 32px;
color: #112211;
}

.price{


font-family: 'Pretendard';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;

text-align: right;


color: #4B4B4B;




}
.bottomInfo{
display: flex;
justify-content: space-between;

}
