.container {
  display: flex;
  flex-direction: column;
  gap: 28px;

  max-width: 640px;
  width: 100%;
}

.btn {
  padding: 14px;
}

.error {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: var(--red);
}

.errorBorder {
  border-color: var(--red);
}
