.wrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
  gap: 52px;
}

.sidebar {
  width: 280px;
  flex-shrink: 0;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  max-width: 800px;
  width: 100%;
}

.dropdownTitle {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
}

.dropdownList {
  width: 792px;
  max-width: 100%;
  border-radius: 4px;
  text-align: left;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 38px;
}

@media (max-width: 768px) {
  .wrapper {
    gap: 0px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 100%;
    padding: 0 12px;
    margin: 0 auto;
  }

  .sidebar {
    display: none;
  }
}
