

  .container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 379px;
  width: 100%;
}

.label {
  font-size: 16px;
  font-weight: 400;
  color: #1b1b1b;
}

.largeLabel {
  font-size: 24px;
  font-weight: 700;
  color: #1b1b1b;
}

.subContainer {
  position: relative;
  display: flex;
  width: 100%;
  
}

.datePickerWrapper {
  max-width: 379px;
  width: 100%;
  display: flex;
}

.input {
  width: 379px;
  padding: 16px 20px;
  border: 1px solid #79747e;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;


}

.input error {
  border: 1px solid #ff472e;
}

.input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #a4a1aa;
}

.passwordIcon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.dateIcon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.errorBorder {
  border-color: var(--red);
}