.nav {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: var(--white);
  border-bottom: 1px solid var(--gray-lighter);
  font-size: 14px;
  font-weight: 500;
  color: var(--black);

  .navContainer {
    -webkit-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1248px) {
      max-width: auto;
      padding: 0 24px;
    }
    @media (max-width: 375px) {
      padding: 0 20px;
    }
  }
}

.noTokenUI a:first-child {
  margin-right: 25px;

  @media (max-width: 375px) {
    margin-right: 15px;
  }
}

.hasTokenUI {
  -webkit-display: flex;
  display: flex;
  align-items: center;

  .notice {
    padding-right: 25px;
    margin-right: 25px;
    border-right: 1px solid var(--gray-lighter);

    @media (max-width: 375px) {
      padding-right: 15px;
      margin-right: 15px;
    }

    .iconNotice {
      display: block;
      cursor: pointer;
    }
  }

  .profile {
    position: relative;
    -webkit-display: flex;
    display: flex;
    align-items: center;
    cursor: pointer;

    .noProfileImg {
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid var(--gray-lightest);
      overflow: hidden;
    }
  }
}

.profileCardContainer {
  width: calc(100vw * (250 / 640));
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 54px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--gray-lighter);
  background: var(--white);
  text-align: center;
  cursor: auto;

  @media (max-width: 768px) {
    padding: 24px 12px;
  }
  @media (max-width: 448px) {
    padding: 24px 10px;
  }

  .profileImg {
    margin: 0 auto 20px;
    position: relative;
    width: calc(100vw * (100 / 640));
    height: calc(100vw * (100 / 640));
    max-width: 100px;
    max-height: 100px;
  }
}

.menuContainer {
  .menu {
    border-radius: 12px;
    font-weight: 700;
    color: var(--gray-light);
    transition: 0.2s;

    & > .link {
      -webkit-display: flex;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      color: inherit;
    }

    .iconMenu {
      margin-right: 15px;

      @media (max-width: 768px) {
        margin-right: 10px;
      }
      @media (max-width: 399px) {
        margin-right: 5px;
      }
    }

    &:hover {
      background: var(--gray-green);
      color: var(--black);

      .iconMenu {
        filter: brightness(0) saturate(0%) invert(0%) sepia(87%) saturate(2680%)
          hue-rotate(262deg) brightness(87%) contrast(96%);
      }
    }
  }
  .logoutBtn {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--gray-lighter);
    cursor: pointer;
    color: var(--gray-soft);
  }
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
}

.dropdown.active {
  max-height: 200px;
  opacity: 1;
}
